@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: 'Doubledecker Demo';
  src: url('font/DoubledeckerDemoRegular.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Doubledecker Demo';
  line-height: normal;
}

.containers {
  width: 80%;
  margin: 0 auto;
}

@media (max-width:1024px) {
  .containers {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width:768px) {
  .containers {
    width: 95%;
    margin: 0 auto;
  }
}

.text-with-border {
  text-shadow:
    -0 -3px 0 #FFFFFF,
    0 -3px 0 #FFFFFF,
    -0 3px 0 #FFFFFF,
    0 3px 0 #FFFFFF,
    -3px -0 0 #FFFFFF,
    3px -0 0 #FFFFFF,
    -3px 0 0 #FFFFFF,
    3px 0 0 #FFFFFF,
    -1px -3px 0 #FFFFFF,
    1px -3px 0 #FFFFFF,
    -1px 3px 0 #FFFFFF,
    1px 3px 0 #FFFFFF,
    -3px -1px 0 #FFFFFF,
    3px -1px 0 #FFFFFF,
    -3px 1px 0 #FFFFFF,
    3px 1px 0 #FFFFFF,
    -2px -3px 0 #FFFFFF,
    2px -3px 0 #FFFFFF,
    -2px 3px 0 #FFFFFF,
    2px 3px 0 #FFFFFF,
    -3px -2px 0 #FFFFFF,
    3px -2px 0 #FFFFFF,
    -3px 2px 0 #FFFFFF,
    3px 2px 0 #FFFFFF,
    -3px -3px 0 #FFFFFF,
    3px -3px 0 #FFFFFF,
    -3px 3px 0 #FFFFFF,
    3px 3px 0 #FFFFFF,
    -3px -3px 0 #FFFFFF,
    3px -3px 0 #FFFFFF,
    -3px 3px 0 #FFFFFF,
    3px 3px 0 #FFFFFF;
}

.text-with-borderes {
  -webkit-text-stroke: 0.5px #fff;
  /* Ширина и цвет бордера */
  /* text-stroke: 3px #fff; */
}

.drop-shadow {
  filter: drop-shadow(0px 6px 0px #fff) !important;
}

.drop-shadow:hover {
  filter: drop-shadow(0px 3px 0px #fff) !important;
}

.backdrop-blur {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.filter-drop {
  filter: drop-shadow(0px 0px 39px #D4B595);
}

.border-drop {
  /* filter: drop-shadow(0px -1px 10px 0px #EA5294); */
  box-shadow: 0px -1px 10.899999618530273px 0px #EA5294;
}

.linHeight {
  line-height: 50px !important;
}

.bg_header {
  background: #FEE4CA;
}

.lines {
  font-family: 'Dangrek', sans-serif;
  font-weight: 400;
  color: #FE9ECE;
  text-shadow:
    -0 -2px 1px #FFFFFF,
    0 -2px 1px #FFFFFF,
    -0 2px 1px #FFFFFF,
    0 2px 1px #FFFFFF,
    -2px -0 1px #FFFFFF,
    2px -0 1px #FFFFFF,
    -2px 0 1px #FFFFFF,
    2px 0 1px #FFFFFF,
    -1px -2px 1px #FFFFFF,
    1px -2px 1px #FFFFFF,
    -1px 2px 1px #FFFFFF,
    1px 2px 1px #FFFFFF,
    -2px -1px 1px #FFFFFF,
    2px -1px 1px #FFFFFF,
    -2px 1px 1px #FFFFFF,
    2px 1px 1px #FFFFFF,
    -2px -2px 1px #FFFFFF,
    2px -2px 1px #FFFFFF,
    -2px 2px 1px #FFFFFF,
    2px 2px 1px #FFFFFF,
    -2px -2px 1px #FFFFFF,
    2px -2px 1px #FFFFFF,
    -2px 2px 1px #FFFFFF,
    2px 2px 1px #FFFFFF;
}

@media (max-width:767px) {
  .linHeight {
    line-height: 24px !important;
  }

  .text-with-border {
    line-height: normal;
    text-shadow:
      -0 -1px 1px #FFFFFF,
      0 -1px 1px #FFFFFF,
      -0 1px 1px #FFFFFF,
      0 1px 1px #FFFFFF,
      -1px -0 1px #FFFFFF,
      1px -0 1px #FFFFFF,
      -1px 0 1px #FFFFFF,
      1px 0 1px #FFFFFF,
      -1px -1px 1px #FFFFFF,
      1px -1px 1px #FFFFFF,
      -1px 1px 1px #FFFFFF,
      1px 1px 1px #FFFFFF,
      -1px -1px 1px #FFFFFF,
      1px -1px 1px #FFFFFF,
      -1px 1px 1px #FFFFFF,
      1px 1px 1px #FFFFFF;
  }

  .lines {
    text-shadow:
      -0 -1px 0 #FFFFFF,
      0 -1px 0 #FFFFFF,
      -0 1px 0 #FFFFFF,
      0 1px 0 #FFFFFF,
      -1px -0 0 #FFFFFF,
      1px -0 0 #FFFFFF,
      -1px 0 0 #FFFFFF,
      1px 0 0 #FFFFFF,
      -1px -1px 0 #FFFFFF,
      1px -1px 0 #FFFFFF,
      -1px 1px 0 #FFFFFF,
      1px 1px 0 #FFFFFF,
      -1px -1px 0 #FFFFFF,
      1px -1px 0 #FFFFFF,
      -1px 1px 0 #FFFFFF,
      1px 1px 0 #FFFFFF;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.7) !important;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.7) !important;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.7) !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.7) !important;
}