@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: 'Doubledecker Demo';
  src: url('font/DoubledeckerDemoRegular.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Doubledecker Demo';
  line-height: normal;
}

.containers {
  width: 80%;
  margin: 0 auto;
}

@media (max-width:1024px) {
  .containers {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width:768px) {
  .containers {
    width: 95%;
    margin: 0 auto;
  }
}

.text-with-border {
  -webkit-text-stroke: 3px #fff;
  /* Ширина и цвет бордера */
  /* text-stroke: 3px #fff; */
}

.text-with-borders {
  -webkit-text-stroke: 1.5px #fff;
  /* Ширина и цвет бордера */
  /* text-stroke: 3px #fff; */
}

.text-with-borderes {
  -webkit-text-stroke: 0.5px #fff;
  /* Ширина и цвет бордера */
  /* text-stroke: 3px #fff; */
}

.drop-shadow {
  filter: drop-shadow(0px 6px 0px #fff) !important;
}

.drop-shadow:hover {
  filter: drop-shadow(0px 3px 0px #fff) !important;
}

.backdrop-blur {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.filter-drop {
  filter: drop-shadow(0px 0px 39px #D4B595);
}

.border-drop {
  /* filter: drop-shadow(0px -1px 10px 0px #EA5294); */
  box-shadow: 0px -1px 10.899999618530273px 0px #EA5294;
}

.linHeight {
  line-height: 70px !important;
}

@media (max-width:768px) {
  .linHeight {
    line-height: 24px !important;
  }
}